{{#> page title="Educational courses - Instincts Training"}}
  <section class="bg-neutral-600 text-neutral-50 relative">
    <div class="max-w-screen-xl mx-auto md:flex">
      <div class="space-y-8 px-4 md:px-8 py-8 md:py-16 lg:py-32 md:w-1/2">
        <div class="space-y-6">
          <h1 class="text-4xl lg:text-6xl font-semibold">
            Our educational courses
          </h1>
          <div class="text-lg lg:text-2xl">
            We offer a range of educational courses covering a variety of topics, all of which can be tailored to better
            suit your needs
          </div>
        </div>
        <img class="md:hidden" src="/img/IMG_0605.jpg">
      </div>
      <img class="hidden md:block md:w-1/2 md:object-cover xl:absolute xl:right-0 xl:h-full" src="/img/IMG_0605.jpg">
    </div>
  </section>

  <section class="bg-stone-100 text-neutral-600">
    <div class="max-w-screen-xl mx-auto px-4 md:px-8 py-8 md:py-16 lg:py-32 grid md:grid-cols-12 md:gap-x-8 gap-y-8
                items-center">
      <div class="space-y-6 md:col-span-7 md:col-start-6">
        <p class="lg:text-lg">
          Our educational courses tackle the subject of anti-social behaviour, whether that be violence, harassment,
          misogyny, or consent. Our courses are designed to address why we should not be heading down these paths to
          criminality.
        </p>
        <p class="lg:text-lg">
          We very often tell people what they should not be doing but fail to expand on the why. By describing
          consequences, whether it be psychological or criminal we explore how the path to criminality never ends well
          no matter what side or angle you look at it from.
        </p>
      </div>
      <img class="object-cover max-h-60 sm:max-h-96 md:max-h-full w-full md:col-span-4 md:row-start-1"
        src="/img/IMG_0657.jpg">
      <p class="lg:text-lg md:col-span-7 md:col-start-1">
        We use lived experience and true-life testimony to bring these messages home. Our Training Director has worked
        in educational establishments up and down the UK including secondary schools, colleges, PRU’s \ Alternative
        Provision Establishments and His Majesties Young Offenders Institutes (HMYOI) along with several Violence
        Reduction Units and Police forces to gain first-hand experience in tackling the problems we face in society.
      </p>
      <img class="object-cover max-h-60 sm:max-h-96 md:max-h-full w-full md:col-span-4 md:col-start-9"
        src="/img/IMG_0663.jpg">
    </div>
  </section>

  <section class="bg-neutral-200 text-neutral-600">
    <div class="max-w-screen-lg mx-auto px-4 md:px-8 py-8 md:py-16 lg:py-32 space-y-8">
      <div class="max-w-xl mx-auto space-y-6 text-center">
        <h2 class="text-3xl lg:text-5xl font-semibold">
          Courses
        </h2>
      </div>
      <div class="border-t border-neutral-400">
        {{#> accordion-item index=1 title="Instinctive first aid" cpd-certified=true}}
          <p class="lg:text-lg">
            What would you do if you came across an emergency while you were out and about. Do you know what to do? The
            aim of this course is to give knowledge of basic first and what to do in an emergency. It will cover the
            Danger Response Airway Breathing CPR (DR ABC), cuts and stab wounds, intoxication, CPR, recovery position
            and most importantly shouting or getting help from a medical professional.
          </p>
          <p class="lg:text-lg">
            This course is <a href="https://cpduk.co.uk/providers/instincts-training" class="underline hover:text-shadow-bold">CPD certified</a>
            and contributes to 6 hours of accredited training for continuous personal development.
          </p>
        {{/accordion-item}}
        {{#> accordion-item index=2 title="Understanding violence"}}
          <p class="lg:text-lg">
            A workshop talking about the effects of violence, the causes to the body, stages of escalation, violence
            statistics in the UK, de-escalation, conflict resolution techniques, understanding our own part in a
            potentially violent situation and how to try and stay calm. Designed for all ages from school students to
            adult teachers and staff it gives an insight into what to expect and how to deal with anger and violent
            situations.
          </p>
        {{/accordion-item}}
        {{#> accordion-item index=3 title="Sexual harrassment and consent"}}
          <p class="lg:text-lg">
            A workshop aimed at school age to university students explaining how to stay safe and legal around the
            Sexual Offences Act 2003. Describing what is meant by sexual harassment, its definitions and consequences.
            Describing what consent is and expelling any myths around both subjects. How we all need to sometimes look
            in the mirror and reflect if we are doing the right thing with or without meaning to cause offence.
          </p>
        {{/accordion-item}}
        {{#> accordion-item index=4 title="Misogyny & homophobia"}}
          <p class="lg:text-lg">
            With people on social media promoting unhealthy relationships, and hate crimes being focused on by
            authorities, this workshop looks to tackle mis-conceptions around equality, diversity and misogyny and
            homophobia including transphobia. Aimed at school age students through to university students it looks at
            tackling modern social misconceptions.
          </p>
        {{/accordion-item}}
        {{#> accordion-item index=5 title="One punch kills"}}
          <p class="lg:text-lg">
            Aimed at school age to university students, it tackles the problem of violent conflict and its potentially
            devastating consequences. Talking through the consequences of violence and how it should be avoided by using
            a true story. How most violence is willingly entered into and all the warning signs have been ignored. How
            it is very easy to take a life, often by complete accident but still with devastating consequences for all
            parties concerned.
          </p>
        {{/accordion-item}}
      </div>
    </div>
  </section>

  <section class="bg-stone-100 text-neutral-600">
    <div class="max-w-screen-md mx-auto px-4 md:px-8 py-8 md:py-16 lg:py-32 space-y-6 text-center">
      <h2 class="text-3xl lg:text-5xl font-semibold">Ready to learn?</h2>
      <p class="lg:text-lg">
        All the courses above can be tailored to a bespoke package to suit individual needs. We will sit down with you
        if required to discuss in detail how we can help and make sure we tick all your boxes for your specific
        requirements. We can assess risk assessments and make sure your policy is relevant and within the law for your
        establishment in accordance with the Health and Safety at Work Act and Employment Law. Our mission is to keep
        things relevant and real.
      </p>
      {{#> link-button style="dark" href="/contact"}}Contact{{/link-button}}
    </div>
  </section>
{{/page}}
