{{#> page title="Instincts Training"}}
  <section class="bg-neutral-600 text-neutral-50 relative">
    <div class="max-w-screen-xl mx-auto md:flex">
      <div class="space-y-8 px-4 md:px-8 py-8 md:py-16 lg:py-32 md:w-1/2">
        <div class="space-y-6">
          <h1 class="text-4xl lg:text-6xl font-semibold">
            We specialise in personal safety
          </h1>
          <div class="text-lg lg:text-2xl">
            Giving you the confidence to do the right thing at the right time
          </div>
        </div>
        <img class="md:hidden" src="/img/IMG_0676.jpg">
        <div class="flex flex-col md:flex-row gap-4">
          {{#> link-button style="light" href="#courses"}}Courses ↓{{/link-button}}
          {{#> link-button style="light-border" href="/contact"}}Contact{{/link-button}}
        </div>
      </div>
      <img class="hidden md:block md:w-1/2 md:object-cover xl:absolute xl:right-0 xl:h-full"
        src="/img/IMG_0676.jpg">
    </div>
  </section>

  <section class="bg-stone-100 text-neutral-600">
    <div class="max-w-screen-md mx-auto px-4 md:px-8 py-8 md:py-16 lg:py-32 space-y-6 text-center">
      <h2 class="text-3xl lg:text-5xl font-semibold">Why Instincts?</h2>
      <p class="lg:text-lg text-left">
        Instincts has been created after almost 4 decades of working within various organisations, learning about how
        the world works. In addition to this Paul Bell (Director) has built up a vast amount of knowledge around
        personal safety, behavioural psychology, self defence and martial arts. We want to be able to create a life
        balance by providing essential training for our clients.
      </p>
      <p class="lg:text-lg text-left">
        Our courses are bespoke to our clients needs and we will spend time to get to know our clients and be the answer
        to their needs. Some of our existing courses are: Empowering the Lone Worker, De-escalation, Personal safety,
        Real Self defence across a wide range of groups including ladies, mens, childrens, people with physical
        restrictions and weapons. Course creation is our focus to enable our clients to achieve the maximum from the
        training.
      </p>
      {{#> link-button style="dark" href="/about"}}About{{/link-button}}
    </div>
  </section>

  <section class="bg-neutral-600 text-neutral-50" id="courses">
    <div class="max-w-screen-xl mx-auto px-4 md:px-8 py-8 md:py-16 lg:py-32 grid md:grid-cols-12 gap-8 items-center">
      <div class="md:col-span-5 space-y-6">
        <h2 class="text-3xl lg:text-5xl font-semibold text-center md:text-left">Our courses</h2>
        <p class="lg:text-lg">
          Our offer is unique and we will spend time to evaluate your needs and create a course to best suit your needs.
        </p>
        <div class="flex flex-col gap-4 md:flex-row md:flex-wrap">
          {{#> link-button style="light" href="/educational-courses"}}Educational{{/link-button}}
          {{#> link-button style="light" href="/practical-courses"}}Practical{{/link-button}}
        </div>
      </div>
      <div class="md:col-span-6 md:col-start-7 space-y-12">
        <div>
          <h3 class="text-2xl lg:text-4xl mb-4">Professional instructors</h3>
          <p class="lg:text-lg">
            You will receive training from our highly qualified instructors who have years of working within various
            organisations.
          </p>
        </div>
        <div>
          <h3 class="text-2xl lg:text-4xl mb-4">Comprehensive courses</h3>
          <p class="lg:text-lg">
            Our courses cover not just self defense but policy, risk assessments, details around UK law, weapons defence
            training, and more.
          </p>
        </div>
        <div>
          <h3 class="text-2xl lg:text-4xl mb-4">Tailored to you</h3>
          <p class="lg:text-lg">
            Pick from one of our existing courses or get in touch and we can ensure that the training delivered
            perfectly fits your requirements.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-stone-100 text-neutral-600">
    <div class="max-w-screen-md mx-auto px-4 md:px-8 py-8 md:py-16 lg:py-32 space-y-6 text-center">
      <h2 class="text-3xl lg:text-5xl font-semibold">What our clients are saying</h2>
      {{> testimonials }}
    </div>
  </section>

  <section class="bg-neutral-600 text-neutral-50">
    <div class="max-w-screen-md mx-auto px-4 md:px-8 py-8 md:py-16 lg:py-32 space-y-6 text-center">
      <h2 class="text-3xl lg:text-5xl font-semibold">Want to know more?</h2>
      <p class="lg:text-lg">
        If you want more information, need something more bespoke, or are looking to chat then we can help you.
      </p>
      {{#> link-button style="light" href="/contact"}}Contact{{/link-button}}
    </div>
  </section>
{{/page}}
