 <footer class="bg-stone-100 text-instincts-grey border-t border-stone-300">
    <div class="max-w-screen-xl mx-auto px-8 py-8 flex justify-between items-center">
      <div class="flex flex-col gap-2">
        <ul class="flex gap-8 text-lg">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Courses</a>
          </li>
          <li>
          <a href="#">Contact</a>
          </li>
        </ul>
        <span class="text-sm">
          Copyright © 2022 Reece Bennett. All rights reserved.
        </span>
      </div>
      <ul class="flex gap-8 fill-instincts-grey">
        <li>
          <a href="#">
            <svg class="w-6 h-6">
              <use xlink:href="/img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="w-6 h-6">
              <use xlink:href="/img/icons.svg#messenger"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="w-6 h-6">
              <use xlink:href="/img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="w-6 h-6">
              <use xlink:href="/img/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg class="w-6 h-6">
              <use xlink:href="/img/icons.svg#linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </footer>
