<footer class="bg-stone-100 text-instincts-grey border-t border-stone-300 shrink-0">
  <div class="max-w-screen-xl mx-auto grid gap-8 px-4 py-4 md:grid-cols-2 md:gap-2 md:py-8 md:px-8">
    <ul class="flex flex-col gap-2 items-center text-lg md:flex-row md:gap-8">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/courses">Courses</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
    <ul class="flex justify-between w-full max-w-[248px] mx-auto fill-instincts-grey md:row-span-2 md:items-center md:mr-0">
      <li>
        <a href="#">
          <svg class="w-6 h-6">
            <use xlink:href="/img/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#">
          <svg class="w-6 h-6">
            <use xlink:href="/img/icons.svg#messenger"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#">
          <svg class="w-6 h-6">
            <use xlink:href="/img/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#">
          <svg class="w-6 h-6">
            <use xlink:href="/img/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#">
          <svg class="w-6 h-6">
            <use xlink:href="/img/icons.svg#linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <span class="text-sm text-center md:text-left">
      Copyright © 2022 <a href="https://www.r-bennett.com" class="hover:underline">Reece Bennett</a>. All rights
      reserved.
    </span>
  </div>
</footer>
