<footer class="bg-stone-100 text-neutral-600 border-t border-stone-300 shrink-0">
  <div class="max-w-screen-xl mx-auto grid gap-8 px-4 py-4 md:grid-cols-2 md:gap-2 md:py-8 md:px-8">
    <ul class="flex flex-col gap-2 items-center text-lg md:flex-row md:gap-8">
      <li>
        <a href="/" class="hover:text-shadow-bold">Home</a>
      </li>
      <li>
        <a href="/about" class="hover:text-shadow-bold">About</a>
      </li>
      <li>
        <a href="/courses" class="hover:text-shadow-bold">Courses</a>
      </li>
      <li>
        <a href="/contact" class="hover:text-shadow-bold">Contact</a>
      </li>
    </ul>
    <ul class="flex justify-between w-full max-w-[248px] mx-auto md:row-span-2 md:items-center md:mr-0">
      <li>
        <a href="https://www.facebook.com/safetyandawareness">
          <svg class="w-6 h-6 fill-neutral-600">
            <use xlink:href="/img/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://m.me/safetyandawareness">
          <svg class="w-6 h-6 fill-neutral-600">
            <use xlink:href="/img/icons.svg#messenger"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/instincts_training">
          <svg class="w-6 h-6 fill-neutral-600">
            <use xlink:href="/img/icons.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/InstinctsLtd">
          <svg class="w-6 h-6 fill-neutral-600">
            <use xlink:href="/img/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/instincts-training-ltd">
          <svg class="w-6 h-6 fill-neutral-600">
            <use xlink:href="/img/icons.svg#linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <span class="text-sm text-center md:text-left">
      Copyright © 2022 <a href="https://www.r-bennett.com" class="hover:underline">Reece Bennett</a>. All rights
      reserved.
    </span>
  </div>
</footer>
