<header class="bg-stone-100 text-instincts-grey">
  <nav class="max-w-screen-xl mx-auto px-8 py-4 flex justify-between items-center">
    <a href="/" class="flex gap-6">
      <img src="/img/instincts-logo.png" class="w-[66px] h-[66px]">
      <div class="flex flex-col items-center uppercase">
        <span class="text-4xl">Instincts</span>
        <span class="">Training LTD</span>
      </div>
    </a>
    <ul class="flex gap-8 text-lg">
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/courses">Courses</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
