<header class="bg-stone-100 text-neutral-600 shrink-0">
  <nav class="max-w-screen-xl mx-auto px-4 py-4 flex justify-between items-center relative md:px-8">
    <a href="/" class="flex gap-2 lg:gap-4">
      <img src="/img/instincts-logo.png" class="w-12 h-12 lg:w-16 lg:h-16">
      <div class="flex flex-col items-center uppercase">
        <span class="text-2xl lg:text-4xl">Instincts</span>
        <span class="text-sm lg:text-base -mt-2 lg:-mt-1">Training LTD</span>
      </div>
    </a>

    <div>
      <input type="checkbox" id="menu_toggle" class="peer hidden" autocomplete="off">
      <label for="menu_toggle" class="md:hidden">
        <svg class="w-6 h-6 fill-neutral-600">
          <use xlink:href="/img/icons.svg#menu"></use>
        </svg>
      </label>

      <ul class="bg-stone-100 z-10 hidden peer-checked:flex flex-col gap-8 items-center text-lg absolute left-0 right-0 top-full pt-4 pb-8 md:flex md:relative md:flex-row md:p-0">
        <li>
          <a href="/about" class="hover:text-shadow-bold">About</a>
        </li>
        <li>
          <a href="/practical-courses" class="hover:text-shadow-bold">Courses</a>
        </li>
        <li>
          <a href="/contact" class="hover:text-shadow-bold">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
