<a class="inline-block px-8 py-4 text-lg font-semibold uppercase {{#eq style 'light'}}bg-gray-50 text-instincts-grey{{else eq style 'dark'}}bg-instincts-grey text-gray-50{{else eq style 'light-border'}}border border-gray-50 text-gray-50{{/eq}}">
  {{> @partial-block}}
</a>
