<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link href="main.css" rel="stylesheet">
</head>
<body class="h-full flex flex-col bg-stone-100">
  {{> header}}
  <div class="flex-auto">
    {{> @partial-block}}
  </div>
  {{> footer}}
  <script src="script.min.js"></script>
</body>
</html>
