<button type="button"
  class="w-4 h-4 border-solid border-2 border-neutral-600 rounded-full transition-colors duration-500 {{#if active}}bg-neutral-600{{/if}}"
  onclick="setActiveTestimonial({{@index}})">
</button>
